.cards{
    
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 339px;
    display: flex;
    flex-direction: column;
}

.work__titleNum{
    width: auto;
    max-width: 100%;
    font-size: 117px;
    font-weight: 400;
    line-height: 140.77px;
    text-align: left;

    color: #8491A0;

}

.work__name-compan{
    width: auto;
    max-width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    
    padding: 15px 0;
}

.work__desc{
    width: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color:  #8491A0;
}