.cards{
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 339px;
    display: flex;
    flex-direction: column;
}

.work__titleNum{
    width: auto;
    max-width: 100%;
    font-size: 117px;
    font-weight: 400;
    line-height: 140.77px;
    text-align: left;

    color: #8491A0;

}

.work__name-compan{
    width: auto;
    max-width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    
    padding: 15px 0;
}

.work__desc{
    width: auto;
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color:  #8491A0;
}


@media (max-width:768px){
    .cards{
        width: auto;
        max-width: 100%;
        height: 369px;
        display: flex;
        justify-content: space-between;
    }
    .card{
        width: auto;
        max-width: 30%;
    }
}
@media (max-width:650px){
    .cards{
        max-width: 90%;
        height: 85%;
        flex-direction: column;
        margin: 0 auto;
    }
    .card{
        max-width: 70%;
    }
 }
@media (max-width:360px){
    .cards{
        max-width: 100%;
        flex-direction: column;
    }
    .card{
        max-width: 100%;
    }
 }