.swipers__slide{
    height: 145px;
    overflow: hidden;
    white-space: nowrap;
}

.swiper__img{
    width: 2100px;
    display: inline-block;
    animation: 5s slider infinite linear;
}

.swipers{
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.swiper__img img{
    width: auto;
    height: 30px;
}

@keyframes slider{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

.swiper{
    width: 340px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #181823;
}

@media (max-width: 768px){
    .swipers__slide{
        height: 420px;
    }
    .swiper__img:nth-child(1){
        width: 768px;
        animation: none;
    }
    .swiper__img:nth-child(2){
        display: none;
    }
    .swipers{
        width: auto;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .swiper__img img{
        width: auto;
        height: 21px;
    }
    .swiper{
        width: 384px;
    }
  }
  @media (max-width: 360px){
    .swiper__img:nth-child(1){
        width: 360px;
    }
    .swiper{
        width: 180px;
    }
  }