.philosophy{
    width: auto;
    max-width: 100%;
    height: 600px;  
    background-color: #FFF3E4;
}

.philosophy_content{
    width: auto;
    max-width: 100%;
    display: flex; 
    justify-content: space-between;
}

.philosophy__text{
    width: 576px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-left: 70px;
}

.philosophy__title{
    width: auto;
    max-width: 100%;
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
    text-align: left;
}

.philosophy__desc{
    width: auto;
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

    padding: 30px 0;
}

.philosophy__link{
    width: auto;
    max-width: 100%;
}

.philosophy__link a{
    width: auto;
    max-width: 100%;
    text-decoration: none;
    color: #181823;
    border-bottom: 1px solid #8491A0;
}

.philosophy__img , .philosophy__img img{
    width: auto;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
}

@media (max-width: 768px){
    .philosophy__text{
        padding-left: 40px;
    }
  }

  
@media (max-width: 360px){
    .philosophy{
        height: 900px;
    }
    .philosophy_content{
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .philosophy__text{
        max-width: 90%;
        height: 50%;
        padding: 0;
    }    
    .philosophy__title{
        font-size: 32px;
        line-height: 38.5px;
    }
    .philosophy__img , .philosophy__img img{
        width: 360px;
        height: 450px;
    }
}