
.header{
    width: 100%;
    height: 80px;
    z-index: 10;

    
    position: fixed;
    top: 0;
    left: 0;
}

 .header__content{
    max-width: 95%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo, .header__logo img {
    width: 80px;
    height: 24px;
    padding-left: 30px;
    z-index: 5;
}

nav{
    width: 476px;
    transition: 0.5s ease-in-out;
}

nav ul{
    width: auto;
    max-width: 100%;
    display: flex;
}

ul li{
    width: auto;
    max-width: 100%;
    padding: 30px 24px;
    list-style-type: none;
}

li  a{
    height: 88px;
    text-decoration: none;
    color: #FFFFFF;
} 

.header__content button{
     display: none;
}

.active-menu{
    background-color: #5221E6;
    transition: 0.5s ease-in-out;
}

.header--scrolling{
    background-color: #000000;
}

@media (max-width: 768px){
    .header{
        width: 100%;
    }
}
@media (max-width: 650px){
    .header{
        width: 100%;
    }
    .header__logo{
        padding-left: 10px;
    }
    nav{
        overflow-y: auto;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #000000;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 100%;
    }
    .menu-visible{
        margin-left: 0;
    }
    nav ul{
        width: 40%;
        height: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul li{
        font-size: 24px;
    }
    .header__content button{
        display: block;
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    }
    .btn-menu {
        width: 18px;
        height: 11px;
        position: relative;
        text-align: right;
        z-index: 5;
    }
    .btn-menu span,.btn-menu::before{
        content: "";
        position: absolute;
        height: 3px;
        background-color: #C4C4C4;
        right: 0;
        transition: .3s ease-out;
    }
    .menu-close span{
        width: 18px;
        top: 0px;
    }
    .menu-close::before{
        width: 13px;
        bottom: 0;
    }
    
    .menu-open span{
        width: 18px;
        top: calc(45%  - 1px);
        transform: rotate(45deg);
    }
    .menu-open::before{
        width: 18px;
        bottom: calc(50%  - 1px);
        transform: rotate(-45deg);
    }
}