.header{
    position: fixed;
    top: 0;
    left: 0;
}

.header{
    width: 1440px;
    height: 80px;
    z-index: 10;
}

 .header__content{
    width: 1380px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo, .header__logo img {
    width: 80px;
    height: 24px;
    padding-left: 30px;
}

.header__nav{
    width: 476px;
}

.header__nav ul{
    width: auto;
    max-width: 100%;
    display: flex;
}

.header__nav li{
    width: auto;
    max-width: 100%;
    padding: 30px 24px;
    list-style-type: none;
    transition: 0.5s ease-in-out;
}

.header__nav a{
    height: 88px;
    text-decoration: none;
    color: #FFFFFF;
} 

.active-menu{
    background-color: #5221E6;
    transition: 0.5s ease-in-out;
}

.header--scrolling{
    background-color: #000000;
}
