.skillset{
    width: auto;
    max-width: 100%;
    background-color: #000000;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skillset__content{
    width: auto;
    max-width: 90%;
    height: 664px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    align-content: center;
    column-gap: 50px;
}

.skillset__text{
    width: auto;
    max-width: 100%;
}

.skillset__title{
    width: auto;
    max-width: 100%;
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
    text-align: left;
}

.skillset__desc{
    width: 368px;

    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

    color: #8491A0;
}

.skillset__skills{
    width: 900px;
    height: 400px;
}

@media (max-width: 768px){
    .skillset{
        height: 851px;
    }
    .skillset__content{
        grid-template-columns: repeat(1, 1fr);
    }
    .skillset__text{
        padding: 20px 0;
    }
    .skillset__desc{
        width: 688px;
    }
    .skillset__skills{
        width: auto;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}