.experience{
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp__work{
    width: auto;
    max-width: 90%;
    height: 715px;
    background-color: #000000;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
}

.exp__title{
    width: auto;
    max-width: 80%;
    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
    text-align: left;

    display: flex;
    flex-direction: column;

    width: 690px;
    height: 132px;

    padding: 80px 0;
}

.exp__title span{
    width: 150px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #8491A0;
}

.exp__workInCompan{
    width: auto;
    max-width: 95%;
}

@media (max-width:768px){
    .exp__title{
        max-width: 90%;
    }
}   
@media (max-width:360px){
    .experience{
        height: 1192px;
        justify-content: normal;
        align-items: normal;
    }
    .exp__work{
        max-width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
   .exp__title{
        font-size: 32px;
        line-height: 38.5px;
   }
   .exp__workInCompan{
        height: 90%;
   }
}