@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

*{
  width: 1440px;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Sen', sans-serif ;
  scroll-behavior: smooth;
}

.main{
  width: auto;
  max-width: 100%;
  background-color: #000000;
}