.work{
    height: 2201px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__items{
    display: flex;
    width: 1300px;
    height: 1900px;
    justify-content: space-between;
}

.work__title{
    width: auto;
    max-width: 100%;

    font-size: 55px;
    font-weight: 700;
    line-height: 66.17px;
    text-align: left;

    display: flex;
    flex-direction: column;
}

.work__title span{
    width: auto;
    max-width: 20%;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;

    color: #8491A0;
}

.work__item{
    width: auto;
    max-width: 50%;
    height: auto;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.link{
    width: auto;
    max-width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a{
    width: auto;
    max-width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    padding: 24px 32px;
    border: 1px solid #5221E6;
}

@media (max-width: 768px){
    .work{
        height: 3868px;
    }
    .work, .work__container{
        align-items: normal;
    }
    .work__items{
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work__item{
        width: auto;
        max-width: 90%;
        max-height: 100%;
    }
  }