.banner{
    width: auto;
    max-width: 100%;
    height: 814px;
    background-color: #000000;
    display: flex;
    align-items: center;
}
.banner__photo{
    z-index: 2;
}

.banner__photo,.banner__photo img{
    width: 750px;
    height: 650px;
    object-fit: cover;
}

.banner__content{
    width: 738px;

    color: #FFFFFF;

    position: absolute;
    right: 8%;
    transform: translateX(66px);
    z-index: 3;
}

.banner::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 900px;
    height: 813px;
    background-color: #181823;
    z-index: 1;
}

.banner__title{
    width: auto;
    max-width: 100%;
    height: 282px;
    font-size: 78px;
    font-weight: 700;
    line-height: 93.84px;
    text-align: left;
    
}

.banner__title span{
    color: #8491A0;
}

.banner__desc{
    width: auto;
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

}

@media (max-width: 768px){
    .banner{
        width: 768px;
    }

    .banner::after{
        display: none;
    }

    .banner__photo,.banner__photo img{
        width: 384px;
        height: 650px;
    }
    .banner__content{
        width: 409px;
        height: 475px;
        right: 15%;
    }
    .banner__title{
        height: 335px;
        font-size: 56px;
        line-height: 67.38px;
        
        padding-bottom: 20px;
    }
}

@media (max-width: 360px){
    .banner{
        width: 360px;
        height: 652px;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 2px dashed #8491A0;
    }
    .banner__photo,.banner__photo img{
        width: 360px;
        height: 288px;
    }
    .banner__content{
        width: 320px;
        height: 300px;
        position: static;
        display: flex;
        flex-direction: column;
        transform: translateX(0);
    }
    .banner__title{
        max-width: 100%;
        height: 117px;
        font-size: 32px;
        line-height: 38.5px;
    }
    .banner__desc{
        max-width: 100%;
        height: 135px;
    }
}
